@use '../utilities';
.btn-start {
  @include utilities.button(
    utilities.$primary,
    utilities.$secondary,
    utilities.$white,
    4.5rem,
    null,
    1.4rem,
    5rem,
    0,
    2rem
  );
}
.btn-submit {
  @include utilities.button(
    utilities.$primary,
    utilities.$secondary,
    utilities.$white,
    2.5rem,
    null,
    1.5rem,
    1.5rem,
    0,
    2rem
  );
}
.btn-nav {
  @include utilities.button(
    utilities.$primary,
    utilities.$secondary,
    null,
    4rem,
    4rem,
    null,
    1.5rem,
    0.8rem,
    null
  );
  @include utilities.flex(flex, column, 0.4rem, center, center, null);
  &__line {
    display: block;
    width: 100%;
    height: 0.2rem;

    background-color: utilities.$white;
    transition: all 0.3s ease-out;
  }
  .close:nth-child(1) {
    transform: rotate(45deg) translate(0.4rem, 0.4rem);
    width: 2.2rem;
  }
  .close:nth-child(2) {
    transform: scaleY(0);
  }
  .close:nth-child(3) {
    transform: rotate(-45deg) translate(0.4rem, -0.4rem);
    width: 2.2rem;
  }
}
.btn-basic {
  @include utilities.button(
    utilities.$primary,
    utilities.$secondary,
    utilities.$white,
    3rem,
    null,
    1.5rem,
    5rem,
    0.5rem,
    2rem
  );
  &:hover {
    opacity: 1;
  }
}
