@use '../utilities';
.modal {
  @include utilities.position(fixed, 0, 0, 0, 0, 100%, 100%);
  @include utilities.align(flex, center, center, null);
  background-color: rgb(0, 0, 0, 0.5);
  &__body {
    background: utilities.$white;
    width: 38rem;
    height: auto;
    font-size: 1.4rem;
    @include utilities.animation(modalAnimation, 0.5s, linear, null, -5rem);
  }
}
