@use '../utilities';
.modal {
  @include utilities.position(fixed, 0, 0, 0, 0, 100%, 100%);
  @include utilities.align(flex, center, center, null);
  background-color: rgb(0, 0, 0, 0.5);
  &__heading {
    @include utilities.align(flex, center, center, null);
    font-size: 2rem;
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 1.6rem;
  }
  &__body {
    @include utilities.align(flex, center, center, null);
    background: utilities.$white;
    border-radius: 1rem;
    width: 52rem;
    height: auto;
    font-size: 1.4rem;
    @include utilities.animation-translate(
      modalAnimation,
      0.2s,
      linear,
      null,
      -5rem
    );
  }
  &__groups {
    @include utilities.flex(flex, column, null, center, center, null);
    width: 30rem;
    margin-bottom: 1.5rem;
  }
}
