@mixin position($position, $top, $left, $bottom, $right, $width, $height) {
  position: $position;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
  width: $width;
  height: $height;
}
@mixin align($display, $justify, $align, $height) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
  height: $height;
}
@mixin flex($display, $direction, $gap, $justify, $align, $height) {
  @include align($display, $justify, $align, $height);
  flex-direction: $direction;
  gap: $gap;
}
@mixin button(
  $color_primary,
  $color_secondary,
  $text_color,
  $height,
  $font_size,
  $bfr,
  $padding_vertical,
  $padding_horizontal
) {
  background: linear-gradient(to right, $color_primary, $color_secondary);
  color: $text_color;
  text-decoration: none;
  height: $height;
  display: inline-block;
  font-size: $font_size;
  font-weight: 400;
  border-radius: $bfr;
  padding: $padding_vertical $padding_horizontal;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
  &:hover {
    opacity: 0.8;
  }
}
@mixin animation-fade-in($name, $duration, $function) {
  animation: $name $duration $function;
  @keyframes #{$name} {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@mixin animation-translate(
  $name,
  $duration,
  $function,
  $translateX,
  $translateY
) {
  animation: $name $duration $function;
  @keyframes #{$name} {
    0% {
      opacity: 0;
      transform: translateX($translateX);
      transform: translateY($translateY);
    }
    100% {
      opacity: 1;
      transform: translateX(0rem);
      transform: translateY(0rem);
    }
  }
}
