@use '../utilities/mixins';
@use '../utilities/variables';
.header {
  width: 100vw;
  height: 100vh;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  overflow: hidden;
  &__video {
    @include mixins.position(absolute, 0, 0, null, null, 100%, 100%);
    object-fit: cover;
  }
  &__contents {
    @include mixins.position(absolute, 0, 0, null, null, 100%, 100%);
    background-color: rgb(0, 0, 0, 0.4);
    &__text {
      @include mixins.align(flex, center, center, 100vh);
      &__child {
        &__h1 {
          color: variables.$white;
          text-transform: uppercase;
          font-weight: 900;
          font-size: 4.2rem;
          line-height: 2.8rem;
        }
        &__p {
          margin-top: 0.8rem;
          color: variables.$white;
          font-size: 1.5rem;
        }
        &__link {
          margin-top: 0.8rem;
        }
      }
    }
  }
}
